.header
  =image_tag("ball.png")
#container
  .row
    .small-12.columns
      %h1 World Cup 2018
      %h2 ...in JSON
  .row
    .small-10.small-offset-1.columns.intro
      %p
        This is an API for the World Cup (and now, Women's World Cup!) ((and now the World Cup in 2018!)) that scrapes current match results and outputs match data as JSON. No guarantees are made as to its accuracy, but we will do our best to keep it up to date. For example responses, including events such as goals, substitutions, and cards, see the GitHub page.
      %a{href:"https://github.com/estiens/world_cup_json"}
        %button.medium#gh-button
          CODE ON GITHUB
  .row
    .small-12.columns
      %h3 ENDPOINTS
    .small-12.columns
      %h5.text-center
        (  If you need HTTPS, please use
        %a{href:"https://world-cup-json.herokuapp.com/matches/today"}
          https://world-cup-json.herokuapp.com
        for now  )
      %br
    .small-6.columns
      %p
        All match data, updated every minute
        %br
        %a{href:"http://worldcup.sfg.io/matches"}
          http://worldcup.sfg.io/matches
      %p
        Today's matches
        %br
        %a{href:"http://worldcup.sfg.io/matches/today"}
          http://worldcup.sfg.io/matches/today
      %p
        Returns the current match, if a match is happening, otherwise nothing
        %br
        %a{href:"http://worldcup.sfg.io/matches/current"}
          http://worldcup.sfg.io/matches/current
      %p
        Matches for any country, by entering their FIFA Code.
        %br
        %a{href:"http://worldcup.sfg.io/matches/country?fifa_code=ARG"}
          http://worldcup.sfg.io/matches/country?fifa_code=ARG
    .small-6.columns
      %p
        Results for teams (wins, losses, draws, goals_for, goals_against)
        %br
        %a{href:"http://worldcup.sfg.io/teams/results"}
          http://worldcup.sfg.io/teams/results
      %p
        Results for teams by group, ordered by current group position
        %br
        %a{href:"http://worldcup.sfg.io/teams/group_results"}
          http://worldcup.sfg.io/teams/group_results
      %p
        List of all teams in world cup, along with FIFA abbreviation
        %br
        %a{href:"http://worldcup.sfg.io/teams/"}
          http://worldcup.sfg.io/teams/


    .small-12.columns
      %h3 OPTIONAL PARAMETERS
      %p
        You can append <code>?by_date=desc</code> to any query to sort the matches by future to past. <code>?by_date=asc</code> does past to future.
        %a{href:"http://worldcup.sfg.io/matches/today/?by_date=DESC"}
          http://worldcup.sfg.io/matches/today/?by_date=DESC
      %p
        You can append <code>?by=</code> with optional params <code>total_goals</code>, <code>closest_score</code>, <code>away_team_goals</code>, <code>home_team_goals</code>
        %a{href:"http://worldcup.sfg.io/matches/?by=total_goals"}
          http://worldcup.sfg.io/matches/?by=total_goals
  .row
    .small-6.columns.text-center
      %h3 TODAY'S MATCHES
      -@today_matches.each do |match|
        -cache(match) do
          %p.match-result
            -if match.status== "completed"
              #{match.home_team.country} (#{match.home_team_score}) Vs #{match.away_team.country} (#{match.away_team_score}) -- FINAL
              -# - if match.home_team_penalties && match.home_team_penalties > match.away_team_penalties
              -#   %br
              -#   %span{style: "font-size: .7em"}#{match.home_team.country} wins on penalties #{match.home_team_penalties} to #{match.away_team_penalties}
              -# - if match.home_team_penalties && match.home_team_penalties < match.away_team_penalties
              -#   %br
              -#   %span{style: "font-size: .7em"}#{match.away_team.country} wins on penalties #{match.away_team_penalties} to #{match.home_team_penalties}
            -elsif match.status == "in progress"
              .live
                = image_tag("http://www.countryflags.io/#{match.home_team.iso_code}/flat/16.png")
                #{match.home_team.country} (#{match.home_team_score}) Vs #{match.away_team.country} (#{match.away_team_score})
                = image_tag("http://www.countryflags.io/#{match.away_team.iso_code}/flat/16.png")
                ( #{match.time} )
            -else
              #{match.home_team.country} Vs #{match.away_team.country} -- #{(match.datetime).strftime("%H:%M")}

    .small-6.columns.text-center
      %h3 TOMORROW'S MATCHES
      -@tomorrow_matches.each do |match|
        -cache(match) do
          %p.match-result
          #{match.home_team.country} Vs #{match.away_team.country} -- #{(match.datetime).strftime("%H:%M")}
.footer
  %ul
    %li
      %a{href:"https://github.com/estiens/world_cup_json"}
        %i.fa.fa-github
    %li
      %a{href:"https://twitter.com/MutualArising"}
        %i.fa.fa-twitter
    %li
      %a{href:"mailto:eric@softwareforgood.com"}
        %i.fa.fa-envelope
    %li
      %a#sfg-logo{href:"http://www.softwareforgood.com"}
        =image_tag("sfgwhite.png")
  %p
    %a{href: "http://softwareforgood.com/soccer-good/"}
      %em Background on this project

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52055026-1', 'sfg.io');
  ga('send', 'pageview');
